.content_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1600px;
    margin: auto;
    margin-top: 50px;
}

@media (max-width: 1200px) {
    .content_items {

        align-items: center;
    }
}

@media (max-width: 720px) {
    .content_items {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 480px) {
    .content_items {
        flex-direction: column;
        gap: 10px;
    }
}