.header {
    display: flex;
    background-color: #161b22;
    height: 70px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    justify-content: space-around;
}

.menu {
    cursor: pointer;
    left: 20px;

}




.left-block {
    display: flex;
}



@media (max-width: 720px) {




    .logo {
        display: none;
    }


}

@media (max-width: 480px) {
    .logo {
        display: none;
    }
}